<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta property="og:title" value="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:description" value="<%= htmlWebpackPlugin.options.description %>">
    .">
    <meta property="og:url" value="http://zehutwhiteparty.com">
    <meta property="og:image" value="/95201962f1021493fb80c6aa83978ed1.jpg">
    <meta name="description" value="<%= htmlWebpackPlugin.options.description %>">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,500,600" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="section section--header">
        <div class="section-outer">
          <div class="section-inner">
            <div class="background"></div>
            <div class="section-content">
              <div class="logo-outer">
                <div class="logo-inner">
                  <div class="logo-square"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section section--info">
        <div class="section-outer">
          <div class="section-inner">
            <div class="section-content">
              <p class="title">
                You’re invited to the 4th annual celebration of the Jewish holiday of love.
              </p>
              <p>Sunday, August 21 in the afternoon.<br/>
                Fay Park, San Francisco</p>
              <p>
                <div class="form-container">
                  <form id="email-form">
                    <input name="email" class="input input--text" type="email" placeholder="E-mail address" />
                    <input type="submit" class="input input--submit btn" value="Join the ticket waitlist"/>
                  </form>
                  <div class="form-success">
                    Thank you.
                  </div>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
